a {
     display: block;
}
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
select { font-size: 1.2em; }
 body {
     margin: 0;
     text-align: center;
     min-height: 100vh;
     max-width: 100%;
     display: grid;
     grid-template-rows: 2.4em auto;
     font-family: sans-serif;
}
.result {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
}

embed {
     height: 100%;
     width: 100%;
     display: block;
     border: none;
     
}

@media (max-width: 700px) {
     .result {
          grid-template-columns: unset;
          grid-template-rows: repeat(100vh, 2)
     }
}

.papers {
     display: flex;
     align-items: center;
     justify-content: center;
}